*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
  }

  .container {
      display: inline-grid;
      grid-template-columns: auto;
      width: 303px;
      align-items: grid-start;
  }

.main-card {
    grid-column-start: auto;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 303px;
    height: 360px;
    background-color: teal;
    
}

.card-name {
    width: 303px;
    
}

div :hover{
    background-color: cornflowerblue;
    
}